@font-face {
    font-family: 'yanone';
    src: url('../FONTS/yanone.ttf');
}

@font-face {
    font-family: 'titilium';
    src: url('../FONTS/titilium.ttf');
}

@font-face {
    font-family: 'finger';
    src: url('../FONTS/finger.ttf');
}

/* estilos generales */

* {
    margin: 0 auto;
    padding: 0;
    max-width: 2000px;
    font-family: 'titilium', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #394C77;

}

html,
body {

    font-size: 15px;
    color: #78797C;
    background-color: white;
}

li {
    list-style: none;
}

.active {
    font-size: 20px;
}

.clearfix {
    float: none;
    clear: both;
}

#messageArea {
    resize: none;
    border: 1px solid #ccc;
}


/* barra de navegacion */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    z-index: 1000;
}


.logo {

    flex: 30%;
    flex-direction: column;
    padding: 10px;

}

.logo img {
    height: 70px;
    width: auto;
    object-fit: contain;
}

.mainmenu {

    flex: 70%;
    flex-direction: column;
    padding: 15px;
}

.mainmenu ul {
    float: right;
}

.mainmenu ul li {
    display: inline-block;
    margin: 5px;
}

.mainmenu ul li a {
    text-decoration: none;
    padding: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #394C77;
    transition: all 0.4s;
}

.mainmenu ul li a:hover {
    color: #F2847B;
    font-weight: 900;
}

/* Estilos del carrito */

.cesta {
    position: relative;
    /* Permite posicionar el badge relativo a este contenedor */
    display: inline-block;
    /* Mantiene el texto y el icono alineados */
}

/* Icono del carrito */
.cesta i {
    position: relative;
    /* Para que el badge se posicione correctamente */
    font-size: 1.2rem;
    /* Ajustable según tu diseño */
}

/* Badge */
.cesta .badge {
    position: absolute;
    top: 0;
    /* Arriba del icono */
    right: 0;
    /* Derecha del icono */
    transform: translate(50%, -50%);
    /* Centra el badge sobre la esquina */
    font-size: 0.7rem;
    /* Escalable */
    padding: 0.25em 0.4em;
    /* Ajusta el tamaño del badge */
}

/*Pagina de inicio  */

#content {
    width: 90%;
    padding-top: 165px;

}

.section-flex {
    display: flex;
    min-height: 400px;
    gap: 8px;
    overflow: hidden;
}

.box {
    display: block;
    flex: 35%;
    height: auto;
    margin-left: 5px;
    text-align: center;
    background-color: rgb(242, 242, 250);

}

.box h1 {
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    margin-top: 150px;
    padding: 20px;

}

.box button {
    border: 1px solid #394C77;
    border-radius: 3px;
    padding: 10px 40px;
    transition: all 0.2s;
}

.box button:hover {
    background-color: rgb(57, 76, 119, 0.5);
    color: white;
}

.box h2 {
    margin-top: 28%;
}

.pic1,
.pic2,
.pic3 {
    display: block;
    flex: 33%;
    height: 600px;
    margin-top: 5px;
}

.pic4 {
    flex: 100%;
    height: 300px;
    margin-top: 5px;
}

.pic1 img,
.pic2 img,
.pic3 img,
.pic4 img {
    width: 100%;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 25px;
    margin-top: 20px;
    background-color: rgba(14, 14, 14, 0.8);
    color: white;
    min-height: auto;

}

.block-1 {
    flex: 33%;
    text-align: center;
    color: white;
}


.block-2 {
    flex: 33%;
    text-align: center;
    color: white;
    font-size: 22px;
}

.block-4 span {
    color: white;
}

.fa-brands {
    transition: all 0.3s;
    color: white;
}

.fa-facebook:hover {
    color: #394C77;
}

.fa-youtube:hover {
    color: red;
}

.fa-pinterest:hover {
    color: red;
}

.fa-instagram:hover {
    background-image: linear-gradient(to right, purple, pink, orange);
    -webkit-background-clip: text;
    color: transparent;
    color: linear-gradient(45deg, purple, pink, orange)
}

.fa-linkedin:hover {
    color: skyblue;
}


.block-1>ul>li>a {
    text-decoration: none;
    color: white;

}

.block-1>ul>li>a:hover {
    text-decoration: underline;
}

.block-4 {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 5px;
    color: #ccc;
    height: auto;
}

.links a {
    display: inline-flex;
    text-decoration: none;
    color: white;
    padding: 7px;
    margin-top: 5px;
}


/* PRODUCTOS */


.productos-flex {
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    padding: 10px;
    flex-direction: column;

}

#products {
    flex: 100%;
    height: auto;

}

.jewerly,
.electronic,
.men-clothing,
.women-clothing {
    flex: 100%;
    height: auto;

}

.jewerly a,
.electronic a,
.men-clothing a,
.women-clothing a {
    text-decoration: none;
    color: #394C77;
    font-size: 45px;

}

.plantilla {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.plantilla li {
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 7px;

}

div .category {
    color: #394C77;
    margin-bottom: 15px;
    font-size: 12px;
}

div .image {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;

}

.titulo {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis;  */
    padding: 5px;
    text-align: left;
    color: #394C77;
    font-weight: bold;
}

.precio {
    padding: 5px;
    font-weight: bold;
    color: #394C77;
    font-size: 12px;
}

.addCart button {
    border: none;
    color: #394C77;
    background-color: white;
    margin-top: 20px;
    border: none;
}

.backProducts button {
    border: none;
    color: #394C77;
    background-color: transparent;
}

/* Estilos para categorias */

.navmenu {
    flex: 100%;
    display: block;
    flex-direction: row;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.navmenu ul li {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 6px;
}

.navmenu ul li:hover {
    transform: scale(1.04);
}

.navmenu a {
    padding: 20px;
    text-decoration: none;
    color: #394C77;
    transition: all 0.4s;
}

.navmenu a:hover {
    color: #F2847B;
}

/* ESTILOS AREA PERSONAL */

.login-flex {
    display: flex;
    width: 75%;
    height: 750px;
    gap: 65px;
}

.aside1 {
    flex: 50%;
    height: auto;
    background-color: rgb(57, 76, 119);
    border-radius: 5px;
}


.logoLogin {
    align-items: center;
    text-align: center;
}

.loginForm {
    padding: 40px;
    margin-top: 15px;

}

.loginForm h3 {
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}


.loginContent strong {
    color: white;
    font-size: 12px;

}

.loginContent input[type="password"] {
    border: none;
    background-color: transparent;
    width: 95%;
    border-bottom: 1px solid #ccc;
    color: white;
}

.loginContent input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 95%;
    color: white;
}

.loginContent input[type="email"]:focus,
.loginContent input[type="password"]:focus,
.loginContent input[type="text"]:focus {
    outline: none;
}

.fa-eye {
    color: white;
}

.fa-eye-slash {
    color: white;
    border: none;
}

button {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.forgotButton {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.4);
    font-size: 12px;
}

.loginBotton {
    justify-content: center;
    text-align: center;
    color: white;
}

.loginBotton button {
    border: 1px solid #ccc;
    color: white;
    padding: 5px 40px;
    border-radius: 3px;
    transition: all 0.3s;
}

.loginBotton button:hover {
    background-color: rgba(24, 37, 66);
    font-weight: 750;
    scale: 1.15;
}

.terms {
    padding-top: 90px;
}

.terms a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.4);
    font-size: 12px;
}

/* ESTILOS REGISTRO DE USUARIO */

.aside2 {
    flex: 50%;
    background-color: #F2847B;
    border-radius: 3px;
}

.registerForm {
    padding: 40px;
    margin-top: 15px;

}

.registerForm h3 {
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.formRegister strong {
    color: white;
    font-size: 12px;

}

.formRegister input[type="password"] {
    border: none;
    background-color: transparent;
    width: 95%;
    border-bottom: 1px solid #ccc;
    color: white;
}

.formRegister input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 95%;
    color: white;
}

.formRegister input[type="email"]:focus,
.formRegister input[type="password"]:focus,
.formRegister input[type="text"]:focus {
    outline: none;
}

.registerBotton {
    margin-top: 55px;
    justify-content: center;
    text-align: center;
    color: white;
}

.registerBotton input[type="submit"] {
    border: 1px solid #ccc;
    color: white;
    padding: 5px 40px;
    border-radius: 3px;
    transition: all 0.3s;
    background-color: transparent;
}

.registerBotton input[type="submit"]:hover {
    background-color: rgb(241, 74, 59);
    font-weight: 750;
    scale: 1.15;
}

/* ESTILOS AL INICIAR SESION*/

.personalInformation {
    background-color: rgb(169, 190, 239, 0.5);
    padding: 30px;
    width: 75%;
    height: 600px;
    border-radius: 4px;

}

.fullNameInputs {
    display: inline-flex;
    gap: 10px;

}

.fullNameInputs p {
    flex: 33%;

}


.inputsAddress {
    display: inline-flex;
    gap: 10px;
}

.inputsAddress p {
    flex: 33%;
}

.inputsContact {
    display: inline-flex;
    gap: 10px;
}

.buttonLogOut {
    display: block;
    text-align: center;
    padding-top: 35px;
}

.buttonLogOut input[type="submit"] {
    border: 1px solid #ccc;
    background-color: #394C77;
    color: white;
    padding: 5px 40px;
    border-radius: 3px;
    transition: all 0.3s;
}

.buttonLogOut input[type="submit"]:hover {
    background-color: rgb(169, 190, 239, 0.5);
    border: 1px solid #394C77;
    color: #394C77;
    font-weight: 750;
    scale: 1.15;
}

.edit {
    display: block;
    width: 100%;
    text-align: center;

}

.edit button {
    border: 1px solid #394C77;
    padding: 10px 30px;
    transition: all 0.3s;
}

.edit button:hover {
    background-color: rgb(169, 190, 239);
    border: 1px solid #394C77;
    color: white;
    font-weight: 750;
    scale: 1.15;
}

/* ESTILOS PARA FORMULARIO DE CONTACTO */

.contacto-flex {
    display: flex;
    overflow: hidden;
    min-height: 1000px;
}

.headLogoForm {
    text-align: center;
}

.asideMessage {
    flex: 60%;
    margin-left: 15px;
}


.asideMessage h1 {
    font-size: 55px;
    font-weight: 800;
}

.asideMessage>img {
    width: 100%;
    margin-top: -45px;
    margin-left: -65px;
}

.formContact {

    flex: 40%;
    width: 100%;
    height: 800px;
    padding: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 15px;
    margin-top: 20px;
}


.formContact p {
    margin-top: 20px;
    margin-left: 20px;
}

.form {
    margin-left: 25px;
}

.paragrahfContact {
    background-color: rgb(57, 76, 119, 0.4);
    text-align: center;
}

.paragrahfContact p {
    /* color: white; */
    padding: 10px;
    font-weight: 600;
}

.bottonContact {
    display: block;
    text-align: center;

}

.bottonContact>button {
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(57, 76, 119);
    padding: 10px;
    margin-left: -25px;
    border-radius: 4px;
    transition: all 0.3s;

}

.bottonContact button:hover {
    background-color: rgb(57, 76, 119, 0.6);
    color: #394C77;
    font-weight: 600;

}

.select,
.email {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* ESTILOS CARRITO COMPRA */

.sale {
    display: flex;
    width: 100%;
}

.cart {
    flex: 50%;
    flex-direction: row;
    width: 50%;
    min-height: 400px;
    border: 1px solid #ccc;

}

.cart ul li {
    float: right;
    width: 100%;
    min-height: 100px;
    margin: 5px;
    text-align: end;
    border-bottom: 1px solid #ccc;
}

.imageCart {
    float: left;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: darkred;
}

.total {
    flex: 50%;
    flex-direction: row;
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    padding: 50px;

}

.total h3 {
    font-weight: bold;
}

.total button {
    border: none;
    background-color: #394C77;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

/* ESTILOS PAYMENT */

.payment {
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    animation: prueba 2s forwards;

}

input[type="text"],
input[type="month"] {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#month,
#year {
    max-width: 70px;
}

#secCode {
    max-width: 35px;
}

.strong {
    font-weight: bold;
}


.cardPayment,
.giftCardPayment,
.transferPayment {
    border-bottom: 1px solid #ccc;
    padding: 5px;

}


.cards i,
.giftCard i,
.transferPayment i {
    float: right;
    font-size: 20px;
    color: #394C77;
    padding: 1px;
}



form input[disabled] {
    opacity: 0.4;
    cursor: not-allowed
}

input[type="submit"] {
    border: none;
    background-color: #394C77;
    padding: 5px 9px;
    color: white;
    border-radius: 5px;
}

.required {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    padding: 3px;
    margin-left: 2px;
    border-radius: 3px;
    font-size: 12px;
}

.card {
    margin-top: 60px;
}

/* Animaciones */

@keyframes prueba {
    5% {
        transform: translateX(-5%)
    }

    60% {
        opacity: 0.8;

    }
}


/* MEDIA QUERIES */

@media (min-width: 1200px) {
    .logo img {
        height: 75px;
    }
}

@media (max-width: 768px) {
    .logo img {
        height: 80px;
    }

    .card {
        margin-top: 150px;
    }
}


@media (max-width : 500px) {
    /* Barra de navegacion */

    #flex-container {
        display: block;
        height: auto;
        position: relative;
    }

    .logo img {
        width: 180px;
        padding-top: 18px;
        margin-left: 25%;
    }

    .mainmenu {
        display: block;
        margin-left: -30px;
    }

    .mainmenu>ul>li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .mainmenu > ul > li > a {
        display: block;
        padding: 8px 0;
        font-size: 16px;
        line-height: 1.2;
    }

    .cesta i {
        font-size: 1rem;
    }

    .cesta .badge {
        font-size: 0.6rem;
        padding: 0.2em 0.35em;
    }


    /* ESTILOS DEL CONTENIDO */

    #content {
        margin-top: -250px;
    }

    .section-flex {
        display: block;

    }

    .pic1,
    .pic2,
    .pic3 {
        margin: 15px;
    }

    .pic1 img,
    .pic2 img,
    .pic3 img {
        width: 100%;
        margin-top: 5px;
    }

    .pic4 img {
        height: auto;
        width: 150%;
    }

    /* barra de navegacion en los productos */

    .navmenu {
        margin-top: 100px;
        display: block;
        font-size: 15px;

    }

    .navmenu>ul>li {
        display: inline-flex;
        width: auto;
    }

    .navmenu>ul>li>a {
        border: none;
    }

    /* Estilos login */

    .personalInformation {
        height: auto;
        width: 100%;
    }

    .login-flex {
        display: inline-block;
        margin-top: 100px;
        margin-left: 60px;
        height: auto;
    }

    .aside1 {
        margin-bottom: 10px;
    }

    .fullNameInputs,
    .inputsAddress,
    .inputsContact {
        display: block
    }

    /* Estilos contacto */

    .contacto-flex {

        display: block;
        margin-top: 80px;

    }

    .formContact {
        display: block;
        width: 95%;

    }

    .formContact #name,
    .formContact #lastName,
    .formContact #email,
    .formContact #phone,
    .formContact #reason,
    .formContact #messageArea {
        display: block;
        width: 100%;
    }

    /* estilos carritos de compras */

    .sale {
        margin-top: 100px;
        display: block;
    }

    .total {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .totalCart {
        display: block;

    }

    .totalCart button {
        padding: 6px 30px;
    }

    .cart {
        display: block;
        width: 100%;
    }

}

/* ******************************************* */


@media (min-width: 501px) and (max-width: 1050px) {
    /* Barra de navegacion */

    #flex-container {
        display: inline-block;
        position: relative;
        height: auto;
    }

    .logo img {
        display: block;
        width: 150px;
        padding-top: 7px;
    }

    .mainmenu {
        display: block;
    }

    .mainmenu>ul>li {
        display: inline;

    }

    .mainmenu>ul>li>a {
        padding: 15px;
        border: none;
    }

    .cesta i {
        font-size: 1.1rem;
    }

    .cesta .badge {
        font-size: 0.65rem;
    }

    /* contenido */

    #content {
        margin-top: -125px;
    }

    /* estilos login / inicio de sesion */

    .login-flex {
        display: block;
        height: auto;
    }

    .personalInformation {
        display: block;
        height: auto;
        width: 100%;

    }

    .fullNameInputs,
    .inputsAddress,
    .inputsContact {
        display: block;
        height: auto;
    }



}