

 <section class="section-flex">
    
      <article class="box">
       
        <div>
          <h1>Product Catalog!</h1>
          <button (click)="redirigir()">Buy Now</button>
        </div>
    
      </article>

    
</section>

<section class="section-flex">
      
    <div class="pic1">
        <a routerLink="/productos/category/men-clothing"><img src="assets/img/pexels-pixabay-157675.jpg" alt="pic1" title="men-clothing"></a> 
    </div>

    <div class="pic2">
        <a routerLink="/productos/category/women-clothing"><img src="assets/img/pexels-olenagoldman-1021693.jpg" alt="pic2" title="women-clothing"></a> 
    </div>

    <div class="pic3">
        <a routerLink="/productos/category/jewerly"><img src="assets/img/peeling-useless-parts-jewelry.jpg" alt="pic3" title="jewerly"></a> 
    </div>

</section>

<section class="section-flex">

   <div class="pic4">
      <a routerLink="/productos/category/electronics"><img src="assets/img/fotoPc.jpg" alt="pic4" title="electronics"></a> 
  </div>

</section>

    